
    body{
    background-color: BeIgE;
    }

    main{
      display: grid;
      grid-template-columns: 200px 200px 200px;
      padding-left: 30%;
      width: 40%;
      grid-column-gap: 15px;
      grid-row-gap: 5px;
    }

    main>p{
      background-color: white;
    }

    nav{
      display: grid;
      grid-template-columns: 15% 60% 15%;
      grid-column-gap:20px;
      padding-left: 5%;
    }

    nav>p{
      background-color: white;
    }
